body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: url("https://images.unsplash.com/photo-1652614347707-df3983ab3ed7?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

$color: #a41b15;

.auth-form {
  padding: 30px 0;
  color: white;

  & .form {
    &__inner {
      width: 20%;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(135, 31, 34, 0.37);
      backdrop-filter: blur(1.8px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      margin: 0 auto;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-top: 0;
      text-align: center;
      color: $color !important;
      text-shadow: 0.5px 0.5px 3px #000000;
    }

    &__label {
      display: flex;
      flex-direction: column;
    }

    &-control {
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
      margin: 3px 0;
    }

    &__submit {
      background: $color;
      border: none;
      border-radius: 5px;
      width: max-content;
      padding: 0 25px;
      height: 30px;
      color: white;
      font-size: 17px;
      margin: 20px auto 0;
      cursor: pointer;
    }

    &__submit:disabled {
      cursor: default;
    }

    &-control:focus {
      outline: 3px solid $color;
    }
  }
}

.cinema {
  margin-bottom: 30px;

  & .cinema {
    &__content {
      height: max-content;
      display: flex;
      gap: 3%;
      padding: 0 60px;
    }

    &__title {
      text-align: center;
    }

    &__card {
      background: #7575754d;
      border-radius: 5px;
      padding: 0 20px;
    }

    &__link {
      color: white;
    }
  }
}

.header__other {
  align-content: center;
  margin: 0;
  padding: 0;
}

.header__other {
  background: #ff8a8a;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
  display: none;
  color: black !important;
}

.form__error {
  color: red !important;
}


.header {
  height: 40px;
  border-bottom: 1px solid $color;
  background: #060407;
}

.nav-tabs {
  display: flex;
  height: 100%;
  width: max-content;
  padding: 0 20px 0 0;
}

.nav-link {
  padding: 0 15px;
  align-content: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

li::marker {
  display: none;
}

.nav-link:hover {
  outline: 1px solid $color;
  text-decoration: underline white 1px;
}

.mb-3 {
  margin-bottom: 5px;
}

.cinema__name {
  text-align: center;
}

.movies {
  & .movies {
    &__cards {
      display: flex;
      gap: 3%;
    }

    &__inner {
      padding: 0 40px;
    }

    &__card {
      background: #7575754d;
      padding: 0 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: all .4s;
    }

    &__card:hover {
      transform: scale(1.01);
    }
  }
}

.tac {
  text-align: center !important;
}

.screenings {
  & .screenings {
    &__cards {
      display: flex;
      gap: 3%;
    }

    &__inner {
      padding: 0 40px;
    }

    &__card {
      background: #7575754d;
      padding: 0 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: all .4s;
    }

    &__card:hover {
      transform: scale(1.01);
    }
  }
}

.screen {
  background: #00000094;
  width: 40%;
  margin: 0 auto;
  height: 30px;
  align-content: center;
  border-radius: 5px;
}

.hall {
  & .hall {
    &__capacity {
      display: grid;
      grid-template-columns: repeat(14, 7.15%);
      padding: 0 100px;
      grid-template-rows: auto;
      margin: 30px 0;
    }
  }
}

.cell {
  aspect-ratio: 1/.5;
  background: #00000078;
  align-content: center;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.cell:hover {
  background: rgba(0, 0, 0, 0.89);
}

.price {
  font-size: 18px;
}

.active {
  background: rgba(27, 110, 27, 0.91) !important;
}

.buy {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.buy_tickets {
  height: 40px;
  border: none;
  background: $color;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding: 10px 10px;
  line-height: 50%;
  cursor: pointer;
}

.disabled {
  cursor: default;
}

.form__inner {
  width: 20%;
  background: #ffffff54;
  padding: 20px 40px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.form__inner > * {
  margin: 0;
  padding: 0;
}

.delete_profile {
  width: max-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  background-color: $color;
  color: white;
  cursor: pointer;
}

.action_profile {
  font-size: 18px;
  color: $color;
  text-decoration: underline 1.3px $color;
  cursor: pointer;
}

.form_edit_profile, .form_change_password, .form_delete_profile {
  position: absolute;
  width: 100%;
  background: #00000096;
  z-index: 2;
  height: 100vh;
  top: 0;
  padding-top: 150px;
  color: white;

  & .form {
    &__inner {
      width: 20%;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(135, 31, 34, 0.37);
      backdrop-filter: blur(1.8px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      margin: 0 auto;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-top: 0;
      text-align: center;
      color: $color !important;
      text-shadow: 0.5px 0.5px 3px #000000;
    }

    &__label {
      display: flex;
      flex-direction: column;
    }

    &-control {
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
      margin: 3px 0;
    }

    &__submit {
      background: $color;
      border: none;
      border-radius: 5px;
      width: max-content;
      padding: 0 25px;
      height: 30px;
      color: white;
      font-size: 17px;
      margin: 20px auto 0;
      cursor: pointer;
    }

    &__submit:disabled {
      cursor: default;
    }

    &-control:focus {
      outline: 3px solid $color;
    }

    &__close {
      width: max-content;
      padding: 2px 6px;
      border: none;
      background: red;
      border-radius: 2px;
      color: white;
      font-size: 17px;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      margin: 5px;
    }
  }
}

.hidden {
  display: none;
}

.home {
  & .home {
    &__title {
      overflow: hidden;
      height: 0;
      transition: height 1.5s ease-in-out;
    }

    &__content {
      position: absolute;
      padding: 0 100px;
      display: flex;
    }

    &__line--h {
      transform: rotate(90deg);
      position: absolute;
      height: 0; //300
      width: 5px;
      background: $color;
      border: none;
      left: 250px;
      outline: none;
      transition: height 1.5s ease-in-out;
    }

    &__line--v {
      width: 5px;
      height: 0; //153
      border: none;
      background: $color;
      outline: none;
      transition: height 1.5s ease-in-out;
    }

    &__info {
      position: absolute;
      width: 800px;
      padding: 0 15px;
      top: 15px;
      height: 0;
      overflow: hidden;
      transition: height 1.5s ease-in-out;
    }
  }
}

.add_phone {
  width: 7%;
  aspect-ratio: 1/1;
  background: $color;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  line-height: 0;
}

.close_phone {
  background-color: #a41b15;
  color: white;
  width: max-content;
  height: 32px;
  border: none;
  aspect-ratio: 1 / 1;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 0;
}

.admin {
  & .admin {
    &__inner {
      padding: 0 60px;
    }

    &__tables {
      display: flex;
    }

    &__link {
      color: white;
      cursor: pointer;
      background: #ff000036;
      padding: 10px;
      outline: none;
      border: none;
      width: max-content;
    }

    &__link:hover {
      outline: 1px solid white;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
    }
  }
}

table {
  border-collapse: collapse;
  outline: 2px solid white;

}

td {
  outline: 1px solid white;
  width: max-content;
  padding: 5px;
}

th {
  outline: 1px solid white;
  width: max-content;
  padding: 5px;
}

.table_box {
  outline: 2px solid white;
  width: min-content;
  margin-left: 2px;
}

.table_box h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.table__content {
  margin: 25px 0;
  display: flex;
}

.additional__phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input__phone {
  width: -webkit-fill-available;
}

.delete__row {
  cursor: pointer;
}